$base-border-radius:         4px;
$base-easing-function:       cubic-bezier(0.0, 0.0, 0.2, 1);
$base-box-shadow:            0 2px 2px rgba(0, 0, 0, 0.15);
$base-spacing-mobile:        10px;
$base-spacing-desktop:       20px;