@include device(tablet) {
    .list-view {
        .month-title {
            margin: 1rem 0 0.25rem;
        }
        .list-header, .calendar-item {
            @include flexbox;
            padding: 0 0.5rem;
        }
        .list-header {
            font-size: $size-large;
            font-weight: $weight-bold;
            border-bottom: 2px solid $color-border-primary;
        }
        .calendar-item {
            @include align-items(center);
            border-bottom-width: 1px;
            > * {
                position: static;
                font-size: $size-normal;
                font-weight: $weight-regular;
                margin: 0;
            }
        }
        .item-day, .header-item-day {
            @include flex-basis(7%);
            .full { display: none; }
        }
        .item-date, .header-item-date {
            @include flex-basis(22%);
        }
        .item-course, .header-item-course {
            @include flex-basis(45%);
        }
        .item-instructor, .header-item-instructor {
            @include flex-basis(18%);;
        }
        .item-room, .header-item-room {
            @include flex-basis(8%);
            .full { display: none; }
        }
    }
}